<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="shortcut icon" href="/imagenes/logo-website.png" type="image/x-icon">
    <title>Iniciar sesion - Organic-Food</title>
</head>
<body>

<h1>Iniciar sesión</h1>

<div th:if="${param.error}" class="error-message">
    Correo o contraseña incorrectos. Por favor, inténtalo de nuevo.
</div>
<div th:if="${param.success}" class="mensaje-exito">
    ¡Registro exitoso! Ya podés iniciar sesión con tus credenciales.
</div>


<form th:action="@{/login}" method="post">
    <label for="correo">Correo:</label>
    <input type="email" id="correo" name="username" required placeholder="Introduce tu correo" />

    <label for="contrasena">Contraseña:</label>
    <input type="password" id="contrasena" name="password" required placeholder="Introduce tu contraseña" />

    <button type="submit">Iniciar sesión</button>

    <div class="link-container">
        <a href="register">¿No tienes cuenta? Registrarse aqui.</a> <br>
        <a href="contactoSoporte">¿Necesitas ayuda? Ir a Contacto-Soporte</a>
    </div>
</form>


</body>
</html>